<h1>Ejercicios</h1>

<h2>Sentencias <code>SELECT</code></h2>

<h3>Creamos las Tablas</h3>
<p>A continuación, vamos a crear las tablas que nos servirán para realizar los ejercicios.</p>
<p>Realizamos la conexión a nuestra base de datos SQLITE, que se encuentra en memoria, y generamos las tablas e insertamos los datos.</p>

In [ ]:
%load_ext sql

# Conectarse a una base de datos SQLite en memoria
%sql sqlite:///:memory:

<h5>1. Creamos una Tabla llamada <code>CLIENTES</code></h5>

In [ ]:
%%sql
CREATE TABLE Clientes (
    cliente_id INTEGER PRIMARY KEY,
    nombre VARCHAR(50),
    apellido VARCHAR(50),
    pais VARCHAR(50),
    edad INTEGER
);

In [ ]:
%%sql
CREATE TABLE Pedidos (
    pedido_id INT PRIMARY KEY,
    fecha DATE,
    producto VARCHAR(50),
    cantidad INT,
    cliente_id INT,
    pendiente BOOLEAN,
    FOREIGN KEY (cliente_id) REFERENCES Clientes(cliente_id)
);

<h5>3. Creamos la Tabla <code>Empleados</code></h5>

In [ ]:
%%sql
CREATE TABLE Empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    departamento TEXT NOT NULL,
    salario REAL NOT NULL,
    correo TEXT
);

<h3>Insertamos datos en la tabla <b>Clientes</b>:</h3>

In [ ]:
%%sql
INSERT INTO Clientes (cliente_id, nombre, apellido, pais, edad) VALUES
(1, 'Juan', 'Pérez', 'España', 30),
(2, 'Ana', 'García', 'México', 25),
(3, 'Luis', 'Martínez', 'Argentina', 35),
(4, NULL, NULL,NULL, NULL),
(5, 'Carlos', 'González', 'Colombia', 40),
(6, 'Laura', 'Fernández', 'Chile', 22),
(7, 'Pedro', 'Sánchez', 'España', 31),
(8, 'Jhon', 'Doe', 'Reino Unido', 29),
(9, 'Isabel', 'Núñez', 'México', 26),
(10, 'Miguel', 'Romero', 'Perú', 33);


<h3>Insertamos datos en la tabla <b>Pedidos</b>:</h3>

In [ ]:
%%sql
INSERT INTO Pedidos (pedido_id, fecha, producto, cantidad, cliente_id, pendiente) VALUES
(1, '10-10-2024', 'Teclado', 5, 1, FALSE),
(2, '11-10-2024', 'Ratón', 3, 2, TRUE),
(3, '12-10-2024', 'Teclado', 4, 3, FALSE),
(4, '13-10-2024', 'Ratón', 2, NULL, TRUE),
(5, '14-10-2024', 'Monitor', 1, 5, FALSE),
(6, '15-10-2024', 'Teclado', 2, 6, TRUE),
(7, '16-10-2024', 'Ratón', 4, 7, FALSE),
(8, '17-10-2024', 'Teclado', 3, 8, TRUE),
(9, '18-10-2024', 'Monitor', 2, 9, FALSE),
(10, '19-10-2024', 'Ratón', 5, 10, TRUE);


<h3>Insertamos datos en la tabla <b>Empleados</b>:</h3>

In [ ]:
%%sql
INSERT INTO Empleados (nombre, departamento, salario, correo) VALUES 
('Ana', 'Ventas', 3500, 'ana@empresa.com'),
('Luis', 'Ventas', 4200, 'luis@empresa.com'),
('María', 'Marketing', 5000, 'maria@empresa.com'),
('Carlos', 'Marketing', 4800, 'carlos@empresa.com'),
('Laura', 'IT', 6000, 'laura@empresa.com'),
('Jorge', 'IT', 6200, 'jorge@empresa.com'),
('Sofía', 'Ventas', 3900, NULL),
('Raúl', 'Recursos Humanos', 3700, 'raul@empresa.com'),
('Elena', 'Recursos Humanos', 4100, NULL),
('Marta', 'IT', 5700, 'marta@empresa.com');

<h2>Ejercicios</h2>


<p>1.- ¿Cuál es el salario promedio de los empleados por departamento?</p>

In [ ]:
%%sql

<p>2.- ¿Cuál es el salario total de todos los empleados en la empresa?</p>

In [ ]:
%%sql

<p>3.- ¿Cuántos empleados hay en cada departamento?</p>

In [ ]:
%%sql

<p>4.- ¿Cuál es el salario máximo y mínimo en el departamento de IT?</p>

In [ ]:
%%sql

<p>5.- ¿Qué empleados tienen un salario mayor o igual a 4000?</p>

In [ ]:
%%sql

<p>6.- ¿Cuántos empleados no tienen correo electrónico registrado?</p>

In [ ]:
%%sql

<p>7.- ¿Cuántos pedidos están pendientes?</p>

In [ ]:
%%sql

<p>8.- ¿Cuál es el salario total en los departamentos de Ventas y Marketing?</p>

In [ ]:
%%sql

<p>9.- ¿Cuántos clientes están en cada país?</p>

In [ ]:
%%sql

<p>10.- ¿Qué pedidos tienen una cantidad de productos entre 2 y 5?</p>

In [ ]:
%%sql

<p>11.- ¿Cuántos empleados tienen un salario entre 3500 y 4500?</p>

In [ ]:
%%sql

<p>12.- ¿Cuántos pedidos han sido realizados por clientes con ID entre 3 y 7?</p>

In [ ]:
%%sql

<p>13.- ¿Cuántos empleados tienen un salario que no sea 3500 ni 6000?</p>

In [ ]:
%%sql

<p>14.- ¿Qué clientes tienen una edad entre 25 y 35 años?</p>

In [ ]:
%%sql

<p>15.- ¿Qué empleados tienen un salario mayor al promedio de su departamento?</p>

In [ ]:
%%sql

<p>16.- ¿Qué clientes no tienen ningún valor en la columna de apellido?</p>

In [ ]:
%%sql

<p>17.- ¿Qué pedidos fueron realizados en fechas posteriores al 15-10-2024?</p>

In [ ]:
%%sql

<p>18.- ¿Qué empleados tienen un correo electrónico que contenga "empresa.com"?</p>

In [ ]:
%%sql

<p>19.- ¿Qué clientes no tienen una edad registrada?</p>

In [ ]:
%%sql

<p>20.- ¿Cuántos pedidos hay para cada producto en la tabla Pedidos?</p>

In [ ]:
%%sql