<h1>Ejercicios</h1>

<h2>Sentencias <code>INSERT INTO</code> , <code>UPDATE</code>, <code>DELETE</code>, <code>ALTER</code> y <code>DROP</code> </h2>

<h3>Creamos las Tablas</h3>
<p>A continuación, vamos a crear las tablas que nos servirán para realizar los ejercicios.</p>
<p>Realizamos la conexión a nuestra base de datos SQLITE, que se encuentra en memoria, y generamos las tablas e insertamos los datos.</p>

In [ ]:
%load_ext sql

# Conectarse a una base de datos SQLite en memoria
%sql sqlite:///:memory:

<h5>1. Creamos una Tabla llamada <code>CLIENTES</code></h5>

In [ ]:
%%sql
CREATE TABLE Clientes (
    cliente_id INTEGER PRIMARY KEY,
    nombre VARCHAR(50),
    apellido VARCHAR(50),
    pais VARCHAR(50),
    edad INTEGER
);

In [ ]:
%%sql
CREATE TABLE Pedidos (
    pedido_id INT PRIMARY KEY,
    fecha DATE,
    producto VARCHAR(50),
    cantidad INT,
    cliente_id INT,
    pendiente BOOLEAN,
    FOREIGN KEY (cliente_id) REFERENCES Clientes(cliente_id)
);

<h5>3. Creamos la Tabla <code>Empleados</code></h5>

In [ ]:
%%sql
CREATE TABLE Empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    departamento TEXT NOT NULL,
    salario REAL NOT NULL,
    correo TEXT
);

<h3>Insertamos datos en la tabla <b>Clientes</b>:</h3>

In [ ]:
%%sql
INSERT INTO Clientes (cliente_id, nombre, apellido, pais, edad) VALUES
(1, 'Juan', 'Pérez', 'España', 30),
(2, 'Ana', 'García', 'México', 25),
(3, 'Luis', 'Martínez', 'Argentina', 35),
(4, NULL, NULL,NULL, NULL),
(5, 'Carlos', 'González', 'Colombia', 40),
(6, 'Laura', 'Fernández', 'Chile', 22),
(7, 'Pedro', 'Sánchez', 'España', 31),
(8, 'Jhon', 'Doe', 'Reino Unido', 29),
(9, 'Isabel', 'Núñez', 'México', 26),
(10, 'Miguel', 'Romero', 'Perú', 33);


<h3>Insertamos datos en la tabla <b>Pedidos</b>:</h3>

In [ ]:
%%sql
INSERT INTO Pedidos (pedido_id, fecha, producto, cantidad, cliente_id, pendiente) VALUES
(1, '10-10-2024', 'Teclado', 5, 1, FALSE),
(2, '11-10-2024', 'Ratón', 3, 2, TRUE),
(3, '12-10-2024', 'Teclado', 4, 3, FALSE),
(4, '13-10-2024', 'Ratón', 2, NULL, TRUE),
(5, '14-10-2024', 'Monitor', 1, 5, FALSE),
(6, '15-10-2024', 'Teclado', 2, 6, TRUE),
(7, '16-10-2024', 'Ratón', 4, 7, FALSE),
(8, '17-10-2024', 'Teclado', 3, 8, TRUE),
(9, '18-10-2024', 'Monitor', 2, 9, FALSE),
(10, '19-10-2024', 'Ratón', 5, 10, TRUE);


<h3>Insertamos datos en la tabla <b>Empleados</b>:</h3>

In [ ]:
%%sql
INSERT INTO Empleados (nombre, departamento, salario, correo) VALUES 
('Ana', 'Ventas', 3500, 'ana@empresa.com'),
('Luis', 'Ventas', 4200, 'luis@empresa.com'),
('María', 'Marketing', 5000, 'maria@empresa.com'),
('Carlos', 'Marketing', 4800, 'carlos@empresa.com'),
('Laura', 'IT', 6000, 'laura@empresa.com'),
('Jorge', 'IT', 6200, 'jorge@empresa.com'),
('Sofía', 'Ventas', 3900, NULL),
('Raúl', 'Recursos Humanos', 3700, 'raul@empresa.com'),
('Elena', 'Recursos Humanos', 4100, NULL),
('Marta', 'IT', 5700, 'marta@empresa.com');

<h2>Ejercicios</h2>

<p>A continuación, se presentan 20 ejercicios que involucran el uso de <code>INSERT INTO</code> y <code>UPDATE</code> para practicar operaciones en las tablas <code>Clientes</code>, <code>Pedidos</code>, y <code>Empleados</code>. Los primeros 10 ejercicios están orientados a <code>INSERT INTO</code>, y los siguientes 10 a <code>UPDATE</code>.</p>

<h3 style="color: #3498db;">Ejercicios de <code>INSERT INTO</code></h3>

<ol>
    <li>Insertar un nuevo cliente llamado "Lucía Gómez" de Uruguay, de 28 años.</li>
    <li>Agregar un pedido nuevo para el cliente con <code>cliente_id = 1</code>, con el producto "Laptop", cantidad de 2, y pendiente.</li>
    <li>Insertar un cliente con solo el <code>cliente_id = 11</code>, dejando los demás campos en <code>NULL</code>.</li>
    <li>Agregar un nuevo empleado llamado "José", en el departamento "Ventas", con salario 3600 y sin correo electrónico.</li>
    <li>Insertar un pedido para el cliente con <code>cliente_id = 8</code>, con el producto "Tablet", cantidad de 3, y pendiente en <code>FALSE</code>.</li>
    <li>Insertar un cliente llamado "Andrea Morales", de Chile, sin especificar la edad.</li>
    <li>Agregar un nuevo pedido para el cliente con <code>cliente_id = 2</code>, con el producto "Monitor", cantidad de 1, y pendiente en <code>TRUE</code>.</li>
    <li>Insertar un nuevo cliente llamado "Roberto Castillo" de Perú, con 40 años de edad.</li>
    <li>Agregar un nuevo empleado llamado "Isabel" en el departamento "Recursos Humanos" con salario 4300 y correo "isabel@empresa.com".</li>
    <li>Insertar un pedido para un cliente no existente (<code>cliente_id = 15</code>), para el producto "Auriculares", cantidad 2, y pendiente.</li>
</ol>

<h3 style="color: #3498db;">Ejercicios de <code>UPDATE</code></h3>

<ol start="11">
    <li>Actualizar la edad de "Ana García" en la tabla <code>Clientes</code> a 26 años.</li>
    <li>Cambiar el país de "Carlos González" a "Venezuela".</li>
    <li>Actualizar la cantidad del pedido con <code>pedido_id = 6</code> a 5 unidades.</li>
    <li>Modificar el estado de pendiente del pedido con <code>pedido_id = 4</code> a <code>FALSE</code>.</li>
    <li>Cambiar el salario de "María" en el departamento de "Marketing" a 5100.</li>
    <li>Actualizar el país del cliente con <code>cliente_id = 10</code> a "Chile".</li>
    <li>Modificar el nombre del cliente con <code>cliente_id = 8</code> a "John Doe" (corrección de nombre).</li>
    <li>Cambiar el salario de todos los empleados en el departamento "IT" incrementándolo en 500.</li>
    <li>Cambiar el producto del pedido con <code>pedido_id = 3</code> de "Teclado" a "Monitor".</li>
    <li>Actualizar el departamento de "Raúl" en <code>Empleados</code> a "IT".</li>
</ol>

<p>Realiza cada uno de los ejercicios de <code>INSERT INTO</code> y <code>UPDATE</code> en tu base de datos y observa los resultados. Asegúrate de cumplir con las restricciones de cada tabla para evitar errores en las operaciones.</p>

<h3 style="color: #3498db;">Ejercicios de <code>DELETE</code></h3>
<ol start="21">
  <li>Eliminar un cliente por su <code>cliente_id</code>.</li>
  <li>Eliminar un pedido con un <code>pedido_id</code> específico.</li>
  <li>Eliminar todos los pedidos pendientes.</li>
  <li>Eliminar empleados que no tienen correo electrónico.</li>
  <li>Eliminar un cliente por su nombre y apellido.</li>
  <li>Eliminar todos los empleados del departamento de 'Marketing'.</li>
  <li>Eliminar todos los pedidos de un cliente específico.</li>
  <li>Eliminar todos los pedidos con una cantidad mayor que 3.</li>
  <li>Eliminar empleados con un salario menor a 4000.</li>
  <li>Eliminar todos los pedidos sin un cliente asignado.</li>
</ol>
<h3 style="color: #3498db;">Ejercicios de <code>ALTER</code></h3>
<ol start="31">
  <li>Agregar una columna <code>fecha_nacimiento</code> a la tabla <code>Clientes</code>.</li>
  <li>Cambiar el tipo de dato de la columna <code>edad</code> a <code>VARCHAR(3)</code> en la tabla <code>Clientes</code>.</li>
  <li>Eliminar una columna de la tabla <code>Empleados</code>.</li>
  <li>Renombrar la columna <code>nombre</code> a <code>nombre_completo</code> en la tabla <code>Empleados</code>.</li>
  <li>Agregar una clave primaria a la columna <code>pedido_id</code> en la tabla <code>Pedidos</code>.</li>
  <li>Agregar una restricción de <code>NOT NULL</code> a la columna <code>pais</code> en la tabla <code>Clientes</code>.</li>
  <li>Cambiar el nombre de la tabla <code>Empleados</code> a <code>Trabajadores</code>.</li>
  <li>Modificar la columna <code>salario</code> de la tabla <code>Empleados</code> para que tenga un valor por defecto de 3000.</li>
  <li>Cambiar el nombre de la tabla <code>Pedidos</code> a <code>Ordenes</code>.</li>
</ol>
<h3 style="color: #3498db;">Ejercicios de <code>DROP</code></h3>
<ol start="40">
  <li>Eliminar la tabla <code>Pedidos</code>.</li>
</ol>