<h2>Creación de una función en SQL</h2>
<p>En este ejemplo, aprenderemos cómo definir una función en SQL. En particular, utilizaremos SQLite para crear una función que simplemente devuelva el valor <code>1</code>.</p>
<p>En SQL, una función permite encapsular lógica reutilizable que puede ser invocada en consultas.</p>

<h3>Sintaxis de una función en SQL</h3>
<p>La sintaxis básica para crear una función en SQL es:</p>
<pre>
CREATE FUNCTION nombre_funcion (parámetros)
RETURNS tipo_dato
BEGIN
   -- Cuerpo de la función
   RETURN valor;
END;
</pre>

<h3>Componentes principales de una función</h3>
<ul>
    <li><strong>CREATE FUNCTION:</strong> Define una nueva función.</li>
    <li><strong>nombre_funcion:</strong> Nombre único de la función.</li>
    <li><strong>parámetros:</strong> Lista de parámetros opcionales con sus tipos de datos.</li>
    <li><strong>RETURNS tipo_dato:</strong> Define el tipo de dato que la función devuelve.</li>
    <li><strong>BEGIN ... END:</strong> Bloque que contiene las sentencias SQL de la función.</li>
    <li><strong>RETURN:</strong> Devuelve un valor como resultado de la función.</li>
</ul>

<p>Veamos un ejemplo concreto en SQLite.</p>

In [1]:
-- Eliminamos la función si ya existe para evitar errores
DROP FUNCTION IF EXISTS new_function;

-- Creación de la función en SQLite
CREATE FUNCTION new_function()
RETURNS INTEGER
BEGIN
   RETURN 1;
END;

<h3>Ejecutando la función</h3>
<p>Ahora, para utilizar la función, podemos llamarla en una consulta SQL como se muestra a continuación:</p>

In [2]:
-- Llamada a la función en una consulta
SELECT new_function();

<h3>Ejemplo de función con parámetros</h3>
<p>Podemos definir funciones con parámetros para recibir valores de entrada y operar sobre ellos.</p>
<pre>
CREATE FUNCTION suma(a INTEGER, b INTEGER)
RETURNS INTEGER
BEGIN
    RETURN a + b;
END;
</pre>

<p>Esta función suma dos números enteros y devuelve el resultado.</p>

In [3]:
-- Creación de una función con parámetros en SQLite
DROP FUNCTION IF EXISTS suma;
CREATE FUNCTION suma(a INTEGER, b INTEGER)
RETURNS INTEGER
BEGIN
    RETURN a + b;
END;

In [4]:
-- Llamada a la función con parámetros
SELECT suma(5, 10);

<h3>Uso de variables en una función</h3>
<p>Podemos definir variables dentro de una función para almacenar valores temporales.</p>
<pre>
CREATE FUNCTION cuadrado(x INTEGER)
RETURNS INTEGER
BEGIN
    DECLARE resultado INTEGER;
    SET resultado = x * x;
    RETURN resultado;
END;
</pre>

<p>La función <code>cuadrado</code> toma un número y devuelve su cuadrado.</p>

In [5]:
-- Creación de la función cuadrado en SQLite
DROP FUNCTION IF EXISTS cuadrado;
CREATE FUNCTION cuadrado(x INTEGER)
RETURNS INTEGER
BEGIN
    RETURN x * x;
END;

In [6]:
-- Llamada a la función cuadrado
SELECT cuadrado(4);

<h3>Condiciones y estructuras de control</h3>
<p>Podemos usar estructuras de control como <code>IF</code> y <code>CASE</code> dentro de las funciones.</p>
<pre>
CREATE FUNCTION signo(numero INTEGER)
RETURNS TEXT
BEGIN
    IF numero > 0 THEN
        RETURN 'Positivo';
    ELSIF numero < 0 THEN
        RETURN 'Negativo';
    ELSE
        RETURN 'Cero';
    END IF;
END;
</pre>

<p>Esta función devuelve si un número es positivo, negativo o cero.</p>

In [7]:
-- Creación de la función signo en SQLite
DROP FUNCTION IF EXISTS signo;
CREATE FUNCTION signo(numero INTEGER)
RETURNS TEXT
BEGIN
    RETURN CASE 
        WHEN numero > 0 THEN 'Positivo'
        WHEN numero < 0 THEN 'Negativo'
        ELSE 'Cero'
    END;
END;

In [8]:
-- Llamada a la función signo
SELECT signo(-7);